<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>start</key>
	<array>
		<dict>
			<key>image</key>
			<string></string>
			<key>title</key>
			<string>Студент</string>
			<key>subCategories</key>
			<array>
				<dict>
					<key>title</key>
					<string>О ФБИ</string>
					<key>image</key>
					<string></string>
					<key>subCategories</key>
					<array>
						<dict>
							<key>image</key>
							<string></string>
							<key>title</key>
							<string>Декан</string>
							<key>content</key>
							<dict>
								<key>name</key>
								<string>Декан факультета</string>
								<key>text</key>
								<string></string>
								<key>type</key>
								<string>html</string>
							</dict>
						</dict>
						<dict>
							<key>title</key>
							<string>Миссия факультета</string>
							<key>image</key>
							<string></string>
							<key>content</key>
							<dict>
								<key>name</key>
								<string>Миссия факультета</string>
								<key>text</key>
								<string></string>
								<key>type</key>
								<string>html</string>
							</dict>
						</dict>
						<dict>
							<key>image</key>
							<string></string>
							<key>title</key>
							<string>Кафедры</string>
							<key>content</key>
							<dict>
								<key>name</key>
								<string>Кафедры факультета</string>
								<key>image</key>
								<string></string>
								<key>text</key>
								<string></string>
								<key>type</key>
								<string>html</string>
							</dict>
						</dict>
						<dict>
							<key>image</key>
							<string></string>
							<key>title</key>
							<string>Направления и специальности</string>
							<key>content</key>
							<dict>
								<key>name</key>
								<string>Специальности факультета &quot;Бизнес-информатика&quot;</string>
								<key>text</key>
								<string></string>
								<key>type</key>
								<string>html</string>
							</dict>
						</dict>
						<dict>
							<key>title</key>
							<string>Учебно-лабораторная база</string>
							<key>imege</key>
							<string></string>
							<key>content</key>
							<dict>
								<key>name</key>
								<string>Учебно-лабораторная база</string>
								<key>image</key>
								<string></string>
								<key>text</key>
								<string></string>
								<key>type</key>
								<string>html</string>
							</dict>
						</dict>
						<dict>
							<key>image</key>
							<string></string>
							<key>title</key>
							<string>Видео-презентация факультета</string>
							<key>New item - 3</key>
							<dict>
								<key>type</key>
								<string>url</string>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>imege</key>
					<string></string>
					<key>title</key>
					<string>Фотогалерея</string>
					<key>content</key>
					<dict>
						<key>type</key>
						<string>table</string>
					</dict>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string>Объявления</string>
					<key>content</key>
					<dict>
						<key>type</key>
						<string>table</string>
					</dict>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string>Учеба</string>
					<key>subCategories</key>
					<array>
						<dict>
							<key>image</key>
							<string></string>
							<key>title</key>
							<string>Расписание</string>
							<key>content</key>
							<dict>
								<key>type</key>
								<string>table</string>
							</dict>
						</dict>
						<dict>
							<key>image</key>
							<string></string>
							<key>title</key>
							<string>Успеваемость</string>
							<key>content</key>
							<dict>
								<key>type</key>
								<string>table</string>
							</dict>
						</dict>
						<dict>
							<key>image</key>
							<string></string>
							<key>title</key>
							<string>Учебный план</string>
							<key>content</key>
							<dict>
								<key>type</key>
								<string>table</string>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string>Новости</string>
					<key>content</key>
					<dict>
						<key>type</key>
						<string>table</string>
					</dict>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string>Профком</string>
					<key>subCategories</key>
					<array>
						<dict>
							<key>image</key>
							<string></string>
							<key>title</key>
							<string>Сайт sgups.net</string>
							<key>content</key>
							<dict>
								<key>type</key>
								<string>url</string>
							</dict>
						</dict>
						<dict>
							<key>image</key>
							<string></string>
							<key>title</key>
							<string>Телефоны</string>
							<key>content</key>
							<dict>
								<key>type</key>
								<string>table</string>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string>Библиотека</string>
					<key>content</key>
					<dict>
						<key>type</key>
						<string>url</string>
					</dict>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string>ЦДО</string>
					<key>content</key>
					<dict>
						<key>type</key>
						<string>table</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>image</key>
			<string></string>
			<key>title</key>
			<string>Преподаватель</string>
		</dict>
		<dict>
			<key>image</key>
			<string></string>
			<key>title</key>
			<string>Гость</string>
			<key>subCategories</key>
			<array>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string>План набора</string>
					<key>subCategories</key>
					<array>
						<dict>
							<key>image</key>
							<string></string>
							<key>title</key>
							<string>Бакалавриат</string>
							<key>content</key>
							<dict>
								<key>name</key>
								<string>План набора на бакалавриат</string>
								<key>image</key>
								<string></string>
								<key>type</key>
								<string>html</string>
							</dict>
						</dict>
						<dict>
							<key>image</key>
							<string></string>
							<key>title</key>
							<string>Магистратура</string>
							<key>content</key>
							<dict>
								<key>name</key>
								<string>План набора в магистратуру</string>
								<key>image</key>
								<string></string>
								<key>type</key>
								<string>html</string>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string>Вступительные испытания</string>
					<key>content</key>
					<dict>
						<key>name</key>
						<string>Вступительные испытания</string>
						<key>text</key>
						<string></string>
						<key>type</key>
						<string>html</string>
					</dict>
				</dict>
				<dict>
					<key>image</key>
					<string></string>
					<key>title</key>
					<string>Стоимость обучения</string>
					<key>content</key>
					<dict>
						<key>name</key>
						<string>Стоимость обучения</string>
						<key>text</key>
						<string></string>
						<key>type</key>
						<string>html</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
